<h2 mat-dialog-title>Actualizar contraseña</h2>

<form [formGroup]="form" (ngSubmit)="save()">
  <mat-dialog-content fxLayout="row" fxLayoutGap="10px">

    <div fxFlex fxLayout="column" fxLayoutAlign="start stretch">
      
        <mat-form-field>
          <mat-label>Nueva contraseña</mat-label>
          <input type="text" formControlName="password" matInput autocomplete="off" required>
          <mat-hint>Mínimo 6 caracteres</mat-hint>
        </mat-form-field>

    </div>

  </mat-dialog-content>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button mat-button (click)="close()" type="button">Cancelar</button>
    <button mat-raised-button color="primary" [disabled]="!form.valid">Actualizar Contraseña</button>
  </mat-dialog-actions>
</form>
