<div fxLayout="column" fxLayoutAlign="space-around center">
  <div class="logo"><img src="assets/img/main-logo.svg"></div>
  <div class="info-card">
    <mat-card>
      <mat-card-header fxLayout="column" fxLayoutAlign="space-around center">
        <mat-card-title>
          <h2>Términos y Condiciones</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content style="text-align: justify;">

        <p>Los presentes Términos y Condiciones de Uso (los Términos y Condiciones) regulan
          el acceso al contenido y los servicios ofrecidos a través del sitio web www.creatsol.com.mx y kiyana.insure
          (en adelante, el Portal).</p>

        <p>La navegación y uso de las herramientas y servicios ofrecidos a través del
          Portal suponen la aceptación de estos Términos y Condiciones en todo aquello que resulte aplicable a sus
          derechos como visitante y, en su caso, como usuario de los servicios del Portal.</p>

        <p>Estos Términos y Condiciones también establecen la información a que se refiere
          el artículo 76-BIS de la Ley Federal de Protección al Consumidor (LFPC) vigente en el territorio de los
          Estados Unidos Mexicanos (“México”).</p>

        <h3>Acerca de CREATSOL Y KIYANA</h3>

        <p>CREATSOL SOLUCIONES DIGITALES, S. DE R.L. DE C.V. (en adelante “CREATSOL”) con
          domicilio en Tepehuaje 214-402, Lomas Tzompantle, Cuernavaca Morelos 62164 pone a su disposición el presente
          aviso de Términos y Condiciones de Uso.</p>

        <p>KIYANA es una marca de comercialización digital perteneciente a CREATSOL
          SOLUCIONES DIGITALES, S. DE R.L. DE C.V. (en adelante “CREATSOL”).</p>

        <p>El Portal opera como un servicio de conciliación para agentes de seguros y/o
          cualquier entidad que requiera realizar procesos masivos de conciliación de información.</p>

        <h3>Objeto y ámbito de aplicación</h3>

        <p>Los presentes Términos y Condiciones regulan el uso y navegación a través del
          Portal, así como el uso de los servicios ofrecidos a través del mismo.</p>

        <p>A efectos de los presentes Términos y Condiciones, y con sujeción a lo dispuesto
          por la LFPC, los términos “usuario o consumidor”, indistintamente, significan que cualquier persona física o
          moral que acceda al Portal para conocer su contenido, solicitar información, acceder a los servicios ofrecidos
          y enviar información a través de cualquiera de los formularios dispuestos para tales efectos, en sus
          diferentes secciones; a tales efectos el destinatario final de la información y de los servicios
          proporcionados a través del Portal lo constituyen personas físicas mayores de edad, profesionales o empresas
          residentes o domiciliadas en México.</p>

        <h3>Identificación y localización del proveedor</h3>

        <p>Los servicios relacionados con el Portal son proporcionados por CREATSOL
          SOLUCIONES DIGITALES, S. DE R.L. DE C.V. (en adelante “<b>CREATSOL</b>”).</p>

        <p><b>Domicilio físico de CREATSOL:</b> Tepehuaje 214-402, Lomas Tzompantle, Cuernavaca Morelos 62164.</p>

        <p><b>Servicios de atención al usuario:</b> Teléfono +52 (664) 204 1745</p>

        <p>El horario de llamadas del servicio de atención al usuario de <b>CREATSOL</b> es de lunes a viernes de 09:00
          AM- 06:00 PM, a excepción de días festivos.</p>

        <p><b>Otros medios de contacto:</b>Los usuarios también pueden dirigir sus
          aclaraciones o reclamaciones sobre el uso de los servicios relacionados con el Portal, al siguiente correo
          electrónico: info@creatsol.com</p>

        <h3>Descripción de los servicios</h3>

        <p><b>CREATSOL</b> se presenta en el mercado, a través del Portal, como una
          plataforma de automatización de conciliaciones. Los servicios que presta <b>CREATSOL</b> están dirigidos a
          agentes de seguros que buscan mejorar sus procesos
          administrativos, operativos y comerciales.</p>

        <h3>Uso de los servicios: Seguros</h3>
        <p>Cuando el usuario contrata y hace uso de la plataforma de conciliaciones
          “Kiyana” debe tener presente que la plataforma actúa como un algoritmo de comparación de registros e
          interpretación de los mismo con base ciertos criterios preestablecidos, los cuales sirven de insumo para la
          optimización de procesos y toma de decisiones, sin embargo, la plataforma no infiere o sustituye las
          decisiones que pueda tomar el usuario final respecto a la información procesada por el algoritmo.</p>

        <p>Para hacer un correcto uso de la plataforma y que los resultados sean los
          correctos y esperados, el usuario debe validar que el insumo de información es el correcto y no cuenta con
          inconsistencias y/o errores que puedan llegar a generar resultados incorrectos.</p>

        <h3>Protección de datos personales</h3>

        <p>Los datos personales proporcionados por los usuarios serán usados para llevar a
          cabo la comparativa contratación del servicio del plan elegido por el usuario y, en su caso, análisis internos
          para mejorar el servicio del Portal.</p>

        <p>La información completa sobre el uso de sus datos personales se describe en el
          Aviso de Privacidad que está disponible para su consulta a través del propio Portal
          (www.kiyana.insure).</p>

        <h3>>Propiedad intelectual</h3>

        <p>Todos los derechos de propiedad industrial o intelectual sobre el dominio
          www.creatsol.com.mx y www.kiyana.insure, las marcas y logos “<b>CREATSOL</b>” Y “<b>KIYANA</b>”, así como los
          contenidos
          del Portal (textos, imágenes, logos, vídeos, gráficos, algoritmos, código y cualesquiera otros), bajo
          cualquier formato, están legalmente reservados a creatsol.com.mx y kiyana.insure.</p>

        <p>El acceso al Portal, o la utilización de los servicios por parte de los
          usuarios, no puede considerarse en modo alguno otorgamiento de derecho, autorización o licencia de ningún tipo
          alguno respecto de los contenidos del Portal. Queda expresamente prohibida la reproducción, transformación,
          distribución, comunicación pública, puesta a disposición, extracción, reutilización, reenvío o la utilización
          de cualquier naturaleza, por cualquier medio o procedimiento, de cualquiera de tales contenidos, que salvo que
          se cuente con la autorización previa, expresa y por escrito del titular de todos los derechos
          correspondientes.</p>

        <h3>Uso comercial</h3>

        <p>El Portal no es para uso comercial.<b>CREATSOL</b> se reserva el ejercicio de las acciones legales
          conducentes, en contra de quien
          intente usar los servicios del Portal de forma no autorizada.</p>

        <h3>Derechos de autor</h3>

        <p>Los derechos de autor sobre el material contenido en el Portal pertenecen a
          CREATSOL SOLUCIONES DIGITALES, S. DE R.L. DE C.V.</p>

        <p>Disposiciones adicionales sobre el uso del Portal</p>

        <p><b>CREATSOL</b> advierte a sus usuarios que las descripciones de los productos o
        servicios ofertados en el Portal se realizan para efectos informativos exclusivamente, y de acuerdo con la
        información y documentación que proporcionen a <b>CREATSOL</b> los
        proveedores de esos productos o servicios.</p>

        <p>Las fotografías, vídeos y representaciones gráficas o iconográficas de cualquier
          tipo, relativas a los productos o servicios ofrecidos en el Portal, entre las que que se incluyen nombres
          comerciales, marcas, signos distintivos de cualquier clase o denominaciones contenidas en el Portal,
          únicamente tienen efectos ilustrativos u orientativos, con el fin de ofrecer la mayor información posible al
          usuario, pero sin que tengan carácter vinculante para<b>CREATSOL</b>.</p>

        <p>A pesar de las medidas de seguridad que se adoptan, <b>CREATSOL</b> no garantiza la ausencia de virus u otros
          elementos que pudieran dañar o alterar el
          sistema informático del usuario, y <b>CREATSOL</b> no asume
          responsabilidad alguna derivada de ello.</p>

        <h3>Vigencia, cambios y actualizaciones</h3>
        <p>Los presentes Términos y Condiciones tendrán vigencia desde el 30 de junio de
          2022.</p>

        <p>La aceptación de estos Términos y Condiciones conllevan la aceptación de la
          última versión publicada por <b>CREATSOL</b>.</p>

        <p><b>CREATSOL</b> se reserva el derecho a modificar en cualquier momento y sin
          necesidad de previo aviso la presentación, configuración y contenidos del Portal, así como los presentes
          Términos y Condiciones.<b>CREATSOL</b> recomienda a los usuarios que
          lean detenidamente estos Términos y Condiciones, así como el “Aviso de Privacidad”, antes de iniciar el uso de
          nuestros servicios y de llevar a cabo el envío de su información.</p>

        <p>Cuando se efectúen cambios, <b>CREATSOL</b> podrá comunicarlos por medio de un mensaje o banner visible
          durante en plazo de
          tiempo prudencial, en el propio Portal.</p>

        <p>Si alguna parte de estos Términos y Condiciones o del “Aviso de Privacidad”
          fuese declarado nulo por autoridad judicial competente, el resto del contenido seguirá vigente y se
          interpretará teniendo en cuenta la finalidad del mismo.</p>

        <p>El no ejercicio por parte de <b>CREATSOL</b> de cualquier derecho derivado de estos Términos y Condiciones y
          del “Aviso de
          Privacidad” no se interpretará nunca como una renuncia a dicho derecho, que únicamente podrá hacerse de forma
          expresa y por escrito.</p>

        <h3>Jurisdicción y legislación aplicables</h3>

        <p>El Portal y los servicios ofrecidos en el mismo están dirigidos exclusivamente
          para el territorio de México y para residentes dentro del mismo.</p>

        <p>El Portal y los servicios ofrecidos en el mismo se regirán por la legislación
          vigente en los Estados Unidos Mexicanos.</p>

        <p>Para cualquier controversia relativa a la interpretación, ejecución y validez de
          los presentes Términos y Condiciones, serán competentes los Tribunales de la Ciudad de México.</p>

      </mat-card-content>

    </mat-card>
  </div>

</div>