<div fxFlex fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start stretch">
    <div fxFlex.gt-sm="33" class="column-a padding" fxLayout="column" fxLayoutAlign="start center" *ngIf="currentStep==1" >
        <img src="assets/img/main-logo.svg" class="logo">
        <h3>Restaurar Constraseña</h3>
        <p class="text-center">Escribe tu dirección de email, enviaremos instrucciones para actualizar tu contraseña.</p>
        <div fxLayout="column" fxLayoutGap="16px" [formGroup]="form" class="form-container">
            <div fxFlex="auto" fxLayout="column">
              <mat-form-field fxFlex="grow" appearance="outline">
                <mat-label>E-Mail</mat-label>
                <input matInput required formControlName="email" autocomplete="off">
                <mat-error *ngIf="form.get('email').hasError('required')">Por favor, ingresa tu e-mail</mat-error>
              </mat-form-field>
            </div>
      
            <button type="button" color="primary" mat-raised-button (click)="send()">
              Enviar
            </button>

            <p class="secondary-text text-center">
              ¿Ya tienes una cuenta?<br/>
              <a [routerLink]="['/']">&larr; Iniciar Sesión</a>
            </p>
            
            <small class="legal text-center">Copyright © 2022 KIYANA / Todos los derechos reservados.</small>
          </div>
    </div>
    <div fxFlex.gt-sm="33" class="column-a padding" fxLayout="column" fxLayoutAlign="start center" *ngIf="currentStep==2" >
        <img src="assets/img/main-logo.svg" class="logo">
        <h3>Restaurar Constraseña</h3>
        <p class="text-center">Hemos enviado un email con un código de reestablecimiento, por favor introdúcelo a continuación:</p>
        <div fxLayout="column" fxLayoutGap="16px" class="form-container">
            <div fxFlex="auto" fxLayout="column">
              <mat-form-field fxFlex="grow" appearance="outline">
                <mat-label>Código</mat-label>
                <input matInput required [(ngModel)]="code" autocomplete="off">
              </mat-form-field>
            </div>
      
            <button type="button" color="primary" mat-raised-button (click)="passwordRequestCode()">
              Enviar
            </button>

            <p class="secondary-text text-center">
              ¿Ya tienes una cuenta?<br/>
              <a [routerLink]="['/']">&larr; Iniciar Sesión</a>
            </p>
            
            <small class="legal text-center">Copyright © 2022 KIYANA / Todos los derechos reservados.</small>
          </div>
    </div>
    <div fxFlex.gt-sm="33" class="column-a padding" fxLayout="column" fxLayoutAlign="start center" *ngIf="currentStep==3" >
        <img src="assets/img/main-logo.svg" class="logo">
        <h3>Nueva Constraseña</h3>
        <p class="text-center">Por favor, ingresa una nueva contraseña de al menos 8 caracteres.</p>
        <div fxLayout="column" fxLayoutGap="16px" class="form-container">
            <div fxFlex="auto" fxLayout="column">
                <mat-form-field fxFlex="grow" appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput [type]="inputType" [(ngModel)]="password" required autocomplete="off">
                    <button type="button" mat-icon-button matSuffix (click)="toggleVisibility()" matTooltip="Ver/ocultar la contraseña">
                      <mat-icon *ngIf="visible">visibility</mat-icon>
                      <mat-icon *ngIf="!visible">visibility_off</mat-icon>
                    </button>
                    <!--<mat-hint>Click para ver la contraseña</mat-hint>-->
                    <mat-error *ngIf="password && password.length < 8">La contraseña debe tener al menos 8 caracteres</mat-error>
                </mat-form-field>
            </div>
      
            <button type="button" color="primary" mat-raised-button (click)="passwordRequestSetup()">
              Enviar
            </button>

            <p class="secondary-text text-center">
              ¿Ya tienes una cuenta?<br/>
              <a [routerLink]="['/']">&larr; Iniciar Sesión</a>
            </p>
            
            <small class="legal text-center">Copyright © 2022 KIYANA / Todos los derechos reservados.</small>
          </div>
    </div>
    <div fxFlex.gt-sm="33" class="column-a padding" fxLayout="column" fxLayoutAlign="start center" *ngIf="currentStep==4" >
        <img src="assets/img/main-logo.svg" class="logo">
        <h3>¡Completado!</h3>
        <p class="text-center">La contraseña ha sido actualizada.<br/>Ahora puedes iniciar sesión.</p>
        <div fxLayout="column" fxLayoutGap="16px" class="form-container">
            

            <p class="secondary-text text-center">
              
              <a [routerLink]="['/']">&larr; Iniciar Sesión</a>
            </p>
            
            <small class="legal text-center">Copyright © 2022 KIYANA / Todos los derechos reservados.</small>
          </div>
    </div>
    <div fxFlex.gt-sm class="column-b">
        <div class="padding text-right">
            Para ayuda escríbenos al <button mat-flat-button class="button-rounded whatsapp-button">
                <img src="assets/img/login/whatsapp.svg" />
                Whatsapp
            </button>
        </div>
        <div>
            <img class="main-img" src="assets/img/login/main-img.png" />
        </div>
    </div>
</div>