:host {
    padding: 40px;
    .logo {
        img {
            width: 150px;
            margin-bottom: 20px;
        }
    }
    .info-card {
        width: 800px;
        max-width: 80%;
    }

    
}