<div fxLayout="column" fxLayoutAlign="space-around center">
  <div class="logo"><img src="assets/img/main-logo.svg"></div>
  <div class="info-card">
    <mat-card>
      <mat-card-header fxLayout="column" fxLayoutAlign="space-around center">
        <mat-card-title>
          <h2>Política de Privacidad</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content style="text-align: justify;">

        <p>CREATSOL SOLUCIONES DIGITALES, S. DE R.L. DE C.V. (en adelante “CREATSOL”) con
          domicilio en Tepehuaje 214-402, Lomas Tzompantle, Cuernavaca Morelos 62164 pone a su disposición el presente
          Aviso de Privacidad, a fin de dar cumplimiento a la Ley Federal de Protección de Datos Personales en Posesión
          de los Particulares (en adelante la “Ley”).</p>

        <p>Nombre y Domicilio del Responsable de los Datos Personales</p>

        <p>Para efectos de la divulgación y tratamiento de los datos personales que Usted
          haya divulgado o pudiera llegar a divulgar, a través de diversos medios y formas incluyendo nuestros sitios de
          Internet o directamente a nuestros representantes, con motivo de la relación o posible relación de negocios
          con nosotros, así como para cualquier otro servicio o actividad relacionada, se considerará que el responsable
          es CREATSOL quien es una
          sociedad anónima constituida de conformidad con las leyes de la República Mexicana, con domicilio en Tepehuaje
          214-402, Lomas Tzompantle, Cuernavaca Morelos 62164. Para cualquier información sobre este Aviso de
          Privacidad, o para el ejercicio de cualquiera de sus derechos derivados de este Aviso de Privacidad o de la
          ley aplicable, incluyendo sin limitación sus derechos de acceso, rectificación, cancelación y oposición, por
          favor contactar a nuestro Departamento de Privacidad al teléfono: (664) 204 1745 o al correo electrónico:
          info@creatsol.com</p>

        <p>Finalidades y Uso de Sus Datos Personales</p>

        <p>Nosotros utilizaremos sus datos personales para: (i) atender su solicitud de
          información, comercialización de soluciones o solicitud y prestación de servicios, incluyendo expresamente
          servicios de consultoría, cotización o de cualquier otro relacionado con desarrollo de software (ii) atender
          cualquier queja, pregunta o comentario; (iii) enviarle notificaciones, avisos, propaganda o publicidad sobre
          nuestros productos o servicios en la medida en que así lo permita la legislación aplicable; (iv) envío de
          información, revistas y noticias de nuestra industria; (v); (vi) enviarle notificaciones de cambios a este
          aviso de privacidad; (vii) otras finalidades siempre que se obtenga su consentimiento expreso y de acuerdo a
          sus indicaciones o (viii) cumplir con leyes o normatividad aplicable al negocio de CREATSOL en los Estados
          Unidos Mexicanos.</p>

        <p>Sus Derechos de Acceso, Rectificación, Oposición y Cancelación</p>

        <p>Para cualquier duda o comentario en relación con los datos personales en
          posesión de CREATSOL, usted podrá contactar al Departamento de Privacidad, al correo electrónico y/o teléfono
          que aparecen anteriormente en nuestros datos de contacto. De igual forma, Usted podrá solicitar acceder a sus
          datos, rectificarlos, cancelarlos, oponerse, limitar su uso o divulgación o revocar su consentimiento, en
          términos de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares y demás
          disposiciones aplicables, para ejercer estos derechos deberá contactar al Departamento de Privacidad, al
          correo electrónico y/o teléfono que aparecen anteriormente en nuestros datos de contacto. En términos de la
          ley aplicable cualquier solicitud en relación al párrafo anterior, deberá indicar i) su nombre y domicilio,
          requisito indispensable para darle respuesta, ii) una copia de su identificación oficial (pasaporte,
          credencial de elector o licencia de conducir), iii) la descripción clara y precisa de los Datos Personales a
          los que desea acceder o que desea rectificar, cancelar u oponerse y cualquier otro elemento que facilite la
          localización de sus datos, así como iv) cualquier otro requisito establecido por la Ley Federal de Protección
          de Datos Personales en Posesión de los Particulares y demás disposiciones aplicables.</p>

        <p>Transferencia de sus Datos Personales</p>

        <p>CREATSOL no venderá, cederá o transferirá sus datos personales a terceros ajenos
          a CREATSOL sin su consentimiento previo y expreso. CREATSOL no compartirá o transferirá sus datos personales a
          terceros salvo en los casos previstos en la Ley Federal de Protección de Datos Personales en Posesión de los
          Particulares o cualquier otra legislación o reglamento aplicable.</p>

        <p>Almacenamiento y Ubicación de Sus Datos Personales</p>

        <p>CREATSOL podrá conservar sus datos personales en bases de datos ubicadas en Los
          Estados Unidos Mexicanos o en el extranjero sin limitación alguna.</p>

        <p>Cambios al Aviso de Privacidad, Legislación y Jurisdicción</p>

        <p>CREATSOL se reserva el derecho a modificar los términos y condiciones de este
          Aviso de Privacidad, notificándolo a través de los medios de comunicación que se consideren más adecuados para
          tal efecto (pudiendo ser, por ejemplo, correo electrónico, avisos en medios de comunicación, comunicación
          directa, etc.) y un anuncio en nuestra página de Internet. Usted tendrá el derecho a cancelar y/o rectificar
          sus datos personales así como a limitar su uso y divulgación en caso de cambios en los términos y condiciones
          de este Aviso de Privacidad.</p>

        <p>Este Aviso de Privacidad, el tratamiento de sus datos personales y documentos
          relacionados se rigen por la Ley Federal de Protección de Datos Personales en Posesión de los Particulares y
          las demás leyes y reglamentos de los Estados Unidos Mexicanos. La aceptación de este Aviso de Privacidad o la
          simple continuación en la solicitud de servicios una vez puesto a disposición el Aviso de Privacidad, implica
          una aceptación expresa y por escrito de los términos del mismo y su sometimiento expreso a los tribunales de
          la Ciudad de México, Distrito Federal, para cualquier controversia o reclamación derivada de este Aviso de
          Privacidad.</p>
      </mat-card-content>

    </mat-card>
  </div>

</div>