<div class="breadcrumbs">
  <div fxLayout="row" fxLayoutAlign="start center">
      <button mat-icon-button *ngIf="back" (click)="loginService.goBack()"><mat-icon>chevron_left</mat-icon></button>
      <div class="title" *ngIf="title">{{ title }}</div>
      <div class="title" *ngIf="!title">{{ current }}</div>
  </div>
  <div class="crumbs" fxLayout="row" fxLayoutAlign="start center">
    <a class="crumb home" [routerLink]="['/']">Home</a>
    <div class="crumb" *ngFor="let crumb of crumbs" fxLayout="row" fxLayoutAlign="start center">
      <mat-icon class="chevron">chevron_right</mat-icon>
      <div class="link">{{ crumb }}</div>
    </div>
    <div class="crumb current" fxLayout="row" fxLayoutAlign="start center">
      <mat-icon class="chevron">chevron_right</mat-icon>
      <div class="link">{{ current }}</div>
    </div>
  </div>
</div>
