<div class="dialog-content-wrapper">
  <mat-toolbar mat-toolbar matDialogTitle class="mat-accent m-0 title">
    <span fxFlex></span>
    <span class="dialog-title">
      ¡Visita próxima a iniciar!
    </span>
    <span fxFlex></span>
  </mat-toolbar>

  <div mat-dialog-content class="p-24 m-0 text" id="mat-dialog-content">
    <span class="message">“Estimado Cliente, KIO gestionará bajo el mejor esfuerzo las autorizaciones de su
      visita, le sugerimos que en la medida de lo posible anticipe la creación de su visita”</span>
    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
      <button mat-raised-button color="accent" style="margin-right: 10px;" (click)="onNoClick()">Cerrar</button>
    </div>
  </div>
</div>