<div class="toolbar" fxLayout="row" fxLayoutAlign="space-between">
  <div fxLayout="row" fxLayoutAlign="start center">
    <fury-toolbar-sidenav-mobile-toggle></fury-toolbar-sidenav-mobile-toggle>

    <img class="logo" [routerLink]="['/']" fxHide.gt-md fxHide.xs
         style="height: 35px; margin-left: 24px; margin-bottom: -5px;"
         src="/assets/img/main-logo.svg">
  </div>

  <div fxLayout="row" fxLayoutAlign="center stretch">
    <div *ngIf="tenant && tenant._tenant" fxLayout="column" fxLayoutAlign="center start" class="tenant-name">
      <span>Trabajando como:</span>
      <strong>{{ tenant._tenant.name }}</strong>
    </div>
    <fury-toolbar-user-button class="button" *ngIf="loginService.identity"></fury-toolbar-user-button>

    
  </div>
</div>
