<!--
<div *ngIf="loginService.openedTutorial" class="tutorial-container">
  <div fxLayoutAlign="end start">
      <mat-icon class= "close-tutorial" (click)="loginService.toggle_tutorial()">close</mat-icon>
  </div>
  <fury-visits *ngIf="loginService.tutorialsList.kiolink"></fury-visits>
  <fury-new-user *ngIf="loginService.tutorialsList.new_user"></fury-new-user>
  <fury-forgot-password *ngIf="loginService.tutorialsList.forgot_password"></fury-forgot-password>
  <fury-acces-kiolink *ngIf="loginService.tutorialsList.acces_kiolink"></fury-acces-kiolink>
  <fury-dc-devices *ngIf="loginService.tutorialsList.dc_devices"></fury-dc-devices>
  <fury-my-profile *ngIf="loginService.tutorialsList.mi_perfil"></fury-my-profile>
  <fury-inventory *ngIf="loginService.tutorialsList.inventory"></fury-inventory>
  <fury-profile *ngIf="loginService.tutorialsList.profile"></fury-profile>
</div>
-->